body
{
    background-color: rgb(219, 212, 212);
}
.cardBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    perspective: 1000px;
    box-shadow: #262626;
}

.cardBox .card
{
    position: relative;
    width: 525px;
    height: 280px;
    background: #fff;
    transform-style: preserve-3d;
    transition: 1s ease;
}

.cardBox .card .card-back .content
{
    position: relative;
    width: 100%;
    height: 100;
}

.cardBox .card .card-back .content .logo
{
    padding: 40px 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

p
{
    font-family: 'Tangerine', cursive;
    margin-left: 250px;
    font-size: 30px;
    font-weight: 700;
}

#a
{
    font-family: 'Cookie', cursive;
    text-decoration: #E63946;
    color: #1D3557
}
#a:hover
{
    color: #E63946;
}


.cardBox .card .card-back .content .logo img
{
    width: 80px;
    height: 80px;
    padding-right: 20px;
    border-right: 1px solid #262626;
}

.cardBox .card .card-back .content .logo h2
{
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.cardBox .card .card-back .content ul
{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: -130px;
    left: 0;
    padding: 20px 40px;
    box-sizing: border-box;
    background: #1D3557;
    border-top: 10px solid #E63946;
}

.cardBox .card .card-back .content ul li
{
    list-style: none;
    color: #fff;
    margin-left: 80px;
}


/*  */
.a{
    position: absolute;
    color: #fff;
    background-color: #1D3557;
    margin-top: 150px;
    margin-left:  240px;
    padding: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    overflow: hidden;
}
.a:hover{
    color: #E63946;
    text-decoration: none;
}

.a:before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,0.05);
}
